
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>


<body>
<body>
<div class='head-block'> 
<a href='/home'><button> HOME </button></a>
<a href='/home'><button> By Store </button></a>
<a href='/all'><button> All ITEMS </button></a>
<a href='/mordor'><button> NO IDEA YET </button></a>
</div>
<div class='menu-block'>

</div>

{{#storename}}
  <ul>{{storename}}
    {{#itemList}}
        <ul>
            <li>{{quantity}} {{productname}}  </li>
        </ul>  
    {{/itemList}} 
  </ul>  
{{/storename}}  
  

</body>

</html>
