
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>


<body>
<body>
<div class='head-block'> 
<a href='/home'><button> HOME </button></a>
<a href='/home'><button> By Store </button></a>
<a href='/all'><button> All ITEMS </button></a>
<a href='/mordor'><button> NO IDEA YET </button></a>
</div>
<div class='menu-block'>
<h1>{{storename}}</h1>
<div class='add-list'>
<h2>Add a new item to the list</h2>
<form action='/lists/store' method='post' >
    <input type="hidden" name="storeid" value='{{storeid}}' />
    <input type="text" name="productname" placeholder="Enter an item"/>
    <input type="text" name="quantity" placeholder="how many" />
    <input type="submit" />
</form>
</div>
</div>

{{#itemList}}
  <ul>
    <li>{{quantity}} {{productname}}  </li>

  </ul>  
{{/itemList}}  
  

</body>

</html>
